<sly data-sly-resource="${ 'header' @ resourceType='dpss/components/structure/header/v1/header', wcmmode='disabled'}" ></sly>
<div class="container">
<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
     data-sly-repeat.child="${templatedContainer.structureResources}"
     data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"></sly>
</div>
<div data-sly-resource="${ 'footer' @ resourceType='dpss/components/structure/footer/v1/footer', wcmmode='disabled'}" ></div>