<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>${pageProperties.pageTitle || page.title || currentPage.name || 'pagetitle' @ i18n, locale=request.locale}</title>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.description="${properties['jcr:description'] || 'pagedescription' @ i18n, locale=request.locale}" name="description" content="${description || 'pagedescription' @ i18n, locale=request.locale }"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <sly data-sly-use.basePageModelCanonical="${'com.adobe.aem.lacounty.dpss.core.models.BasePageModel' @ path=pageProperties.canonicalUrl ? pageProperties.canonicalUrl : currentPage.path}"/>
    <link rel="canonical" href="${basePageModelCanonical.getExternalizedURL @ extension='html'}"/>
    <sly data-sly-use.basePageModelAlternate="${'com.adobe.aem.lacounty.dpss.core.models.BasePageModel' @ path=currentPage.path}"/>
    <link rel="alternate" href="http://${basePageModelAlternate.domainName}/en.html" hreflang="x-default"/>
    <link rel="alternate" href="${basePageModelAlternate.getExternalizedURL @ extension='html'}" hreflang="${basePageModelAlternate.langAttribute}"/>    
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
</template>
