<!--/*
*  ***********************************************************************
*  Adobe CONFIDENTIAL
*  ___________________
*
*  Copyright 2019 Adobe
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of Adobe and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to Adobe
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reprodPSTion of this material
*  is strictly forbidden unless prior written permission is obtained
*  from Adobe.
*  ***********************************************************************
*/-->
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"
	data-emptytext="Event Details"></div>
<sly data-sly-use.edModel="com.adobe.aem.lacounty.dpss.core.models.EventDetailsModel" />
<div class="news-article__content"
	id="${currentNode.parent.parent.name}-${currentNode.parent.name}-${currentNode.name}">
	<div class="news-article__title">
		<p data-sly-test="${edModel.title}">${edModel.title @
			context='html'}</p>
			<div class="new-article__btn-grp">
				<div class="news-article__btn back-btn" data-sly-test="${edModel.backButtonUrl}">
					<a href="${edModel.backButtonUrl}" title="${'back' @ i18n}"> <span class="fa fa-arrow-left fa-2x"></span><em>${'back' @ i18n}</em></a>
				</div>
				<div class="news-article__btn">
					<a data-sly-test="${edModel.title && edModel.startDate && edModel.endDate}"
					href="${currentPage.path}.exportics.html?eventTitle=${edModel.title}&startDate=${'yyyy-MM-dd\'T\'HH:mm:ss.SSSXXX' @ format=edModel.startDate,timezone='PST'}&endDate=${'yyyy-MM-dd\'T\'HH:mm:ss.SSSXXX' @ format=edModel.endDate,timezone='PST'}&location=${edModel.googleMapLinkLabel}"
					 title="${'export' @ i18n}"> <span class="fa fa-calendar-o fa-2x"></span><em>${'export' @ i18n}</em></a>
				</div>
			</div>
	</div>

	<div class="gutter">
		<div class="aem-Grid aem-Grid--12">
			<div
				class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 gutterLR15">
				<div class="news-article__text">
					<sly data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"/>
				</div>
			</div>
			<div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 gutterLR15">
				<div class="font--bold" data-sly-test="${edModel.startDate}">${'date'
					@ i18n}</div>
				<div class="card--button icon__bg--dark-blue cursor--text"
					data-sly-test="${edModel.startDate}">
					<button>
						<span class="list__view--icon fa fa-calendar"></span> <small data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page">${'EEEEEE,
							MMMMM d, yyyy' @ format=edModel.startDate, timezone='PST' ,locale=page.language} <sly
								data-sly-test="${edModel.endDate && !edModel.sameDayEvent}">-
							${'EEEEEE, MMMMM d, yyyy' @ format=edModel.endDate,timezone='PST',locale=page.language}</sly>
						</small> <span class="fa fa-caret-right gutterAll15"></span>
					</button>
				</div>
				<div class="font--bold" data-sly-test="${edModel.startDate}">${'time'
					@ i18n}</div>
				<div class="card--button icon__bg--green cursor--text"
					data-sly-test="${edModel.startDate}">
					<button>
						<span class="list__view--icon fa fa-clock-o"></span> <small data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page">${'h:mm
							a' @ format=edModel.startDate, timezone='PST' ,locale=page.language} <sly
								data-sly-test="${edModel.endDate}">- ${'h:mm a' @
							format=edModel.endDate, timezone='PST', locale=page.language}</sly>
						</small> <span class="fa fa-caret-right gutterAll15"></span>
					</button>
				</div>
				<div class="font--bold" data-sly-test="${edModel.googleMapLink}">${'location'
					@ i18n}</div>
				<div class="card--button icon__bg--light-blue cursor--text button--location"
					data-sly-test="${edModel.googleMapLink}">
					<button
						onclick="location.href='${edModel.googleMapLink ? edModel.googleMapLink : '#' @ context='uri'}'">
						<span class="list__view--icon fa fa-map-marker"></span> <small>${edModel.googleMapLinkLabel
							@ context='html'}</small> <span class="fa fa-caret-right gutterAll15"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>