<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Content Page Banner"></div>
<sly data-sly-use.title="com.adobe.aem.lacounty.dpss.core.models.ContentPageBannerModel"/>
    <div  class="category__banner align-left width--full" id="${currentNode.parent.parent.name}-${currentNode.parent.name}-${currentNode.name}" data-sly-unwrap="${!title.bgImagePath}" style="background-image: url(${title.bgImagePath @ context='uri'})">
        <div class="category__banner align-left width--full" id="${currentNode.parent.parent.name}-${currentNode.parent.name}-${currentNode.name}" data-sly-unwrap="${title.bgImagePath}">
    <div class="container-wrapper">
        <h1 class="banner__title color--white">${title.text ? title.text : currentPage.title @ context='html'}
		<div class="content__listToggle">
                    <span class="contentList__bar"></span>
                    <span class="contentList__bar"></span>
                    <span class="contentList__bar"></span>
                </div></h1>
        <p data-sly-test="${title.subText}" class="font--bold">${title.subText @ context='html'}</p>
        <div class="aem-Grid aem-Grid--12">
            <div class="aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--tablet--12 aem-GridColumn--phone--12">
                <ul class="category__banner-list" data-sly-list="${title.links}">
                    <li class="${itemList.index > 3 ? 'hide-small' : '' @ context='styleString'}"><a href="${item.linkUrl @ context='uri'}" title="${item.linkText @ context='attribute'}" target="${item.openInNewTab @ context='attribute'}">${item.linkText @ context='html'}</a></li>
                </ul>
            </div>
        </div>
        <p data-sly-test="${!title.hideDescription}">${title.description @ context='html'}</p>
    </div>
</div>
</div>