.cmp-button {}
.cmp-button__text {}
.cmp-button__icon {}
//.cmp-button__icon--myIcon {}
.button {
    button {
        padding: 0.9375rem;
        background: color(blue);
        border: 1px solid transparent;
        cursor: pointer;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
        color: color(white);
        margin: 5px 0;
        font-size: fsize(16);
        &:hover {
            background: color(transblue);
        }
        .fa-caret-right {
            padding: 15px;
        }
    
    }
    &.card--button {
        button {
            background: color(grey6);
            display: flex;
            flex-grow: 1;
            min-height: 50px;
            //margin: 0.9375rem 0;
            padding: 0;
            box-shadow: none;
            width: 100%;
            align-items: center;
            border: none;

            .list__view--icon {
                width: 40px;
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0 0.9375rem 0 0;
                color: color(white);
                height: 50px;
                min-height: 50px;
            }
            small {
                display: flex;
                align-items: center;
                vertical-align: middle;
                width: 100%;
                color: color(black);
                font-size: fsize(18);
                text-align: left;
            }
            .fa-caret-right {
                background: transparent;
                color: color(grey7);
            }
            &:hover {
                small {
                    color: color(blue);
                    font-weight: 700;
                }
            }
        }
    }
    &.icon__bg {
        &--green {
            .list__view--icon {
                background: color(green);
            }
            &:hover {
                .fa-caret-right {
                    color: color(green) !important;
                }
            }
        }
        &--red {
            .list__view--icon {
                background: color(btnred);
            }
            &:hover {
                .fa-caret-right {
                    color: color(btnred) !important;
                }
            }
        }
        &--purple {
            .list__view--icon {
                background: color(purple);
            }
            &:hover {
                .fa-caret-right {
                    color: color(purple) !important;
                }
            }
        }
        &--blue {
            .list__view--icon {
                background: color(btnblue);
            }
            &:hover {
                .fa-caret-right {
                    color: color(btnblue) !important;
                }
            }
        }
        &--orange {
            .list__view--icon {
                background: color(btnorange);
            }
            &:hover {
                .fa-caret-right {
                    color: color(btnorange) !important;
                }
            }
        }
        &--light-blue {
            .list__view--icon {
                background: color(lightblue);
            }
            &:hover {
                .fa-caret-right {
                    color: color(lightblue) !important;
                }
            }
        }
    }
    &.right--icon-none {
        .fa-caret-right {
            display: none;
        }
    }
    &.banner--button {
        button {
            font-size: fsize(20);
            padding: 0.9375rem;
            color: color(white);
            width: 100%;
        }
    }
    &.transparent--button {
        button {
            height: 70px;
            margin: 1.875rem 0;
            text-align: left;
            border: 1px solid color(white);
            border-radius: 4px;
            background: transparent;
            color: color(white);
            font-size: 1.25rem;
            width: 350px;
            box-shadow: none;
            &:hover {
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.5);
            }
            span {
                margin-right: 0.9375rem;
            }
            small {
                font-size: inherit;
            }
        }
        .fa-caret-right {
            display: none;
        }
        &.icon__bg {
            &--green {
                span {
                    color: color(green) !important;
                    background: transparent;
                }
            }
            &--red {
                span{
                    color: color(btnred) !important;
                    background: transparent;
                }
            }
            &--purple {
                span {
                    color: color(purple) !important;
                    background: transparent;
                }
            }
            &--blue {
                span {
                    color: color(btnblue) !important;
                    background: transparent;
                }
            }
            &--orange {
                span {
                    color: color(btnorange) !important;
                    background: transparent;
                }
            }
            &--light-blue {
                span {
                    color: color(lightblue) !important;
                    background: transparent;
                }
            }
        }
    }
    &.font-2x {
        .fa, small {
            font-size: fsize(32);
        }
    }
    &.font-3x {
        .fa, small {
            font-size: fsize(48);
        }
    }
    &.font-4x {
        .fa, small {
            font-size: fsize(64);
        }
    }
    &.font-5x {
        .fa, small {
            font-size: fsize(80);
        }
    }
    .fa {
    margin-right: 20px;
}
   
}
