<!-- Custom DPSS carousel with light theme class="cmp-carousel t-cmp-clean t-cmp-clean--light" -->
<div data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
     id="${currentNode.parent.parent.name}-${currentNode.parent.name}-${currentNode.name}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     class="cmp-carousel carousel-style t-cmp-clean t-cmp-clean--light"
     data-cmp-is="carousel"
     data-cmp-autoplay="${(wcmmode.edit || wcmmode.preview) ? '' : carousel.autoplay}"
     data-cmp-delay="${carousel.delay}"
     data-cmp-autopause-disabled="${carousel.autopauseDisabled}">
    <div class="cmp-carousel__content" data-sly-test="${carousel.items && carousel.items.size > 0}" >
        <div data-sly-repeat.item="${carousel.items}"
             data-sly-resource="${item.name @ decorationTagName='div'}"
             role="tabpanel"
             class="cmp-carousel__item${itemList.first ? ' cmp-carousel__item--active' : ''}"
             data-cmp-hook-carousel="item"></div>
        <div class="cmp-carousel__actions">
            <button role="button"
                    class="cmp-carousel__action cmp-carousel__action--previous"
                    data-cmp-hook-carousel="previous" aria-label="${'previous' @ i18n}">
                <span class="cmp-carousel__action-icon"></span>
                <span class="cmp-carousel__action-text">${'previous' @ i18n}</span>
            </button>
            <button role="button"
                    class="cmp-carousel__action cmp-carousel__action--next"
                    data-cmp-hook-carousel="next" aria-label="${'next' @ i18n}">
                <span class="cmp-carousel__action-icon"></span>
                <span class="cmp-carousel__action-text">${'next' @ i18n}</span>
            </button>
            <button data-sly-test="${carousel.autoplay}"
                    role="button"
                    class="cmp-carousel__action cmp-carousel__action--pause"
                    data-cmp-hook-carousel="pause" aria-label="${'pause' @ i18n}">
                <span class="cmp-carousel__action-icon"></span>
                <span class="cmp-carousel__action-text">${'pause' @ i18n}</span>
            </button>
            <button data-sly-test="${carousel.autoplay}"
                    role="button"
                    class="cmp-carousel__action cmp-carousel__action--play cmp-carousel__action--disabled"
                    data-cmp-hook-carousel="play" aria-label="${'play' @ i18n}">
                <span class="cmp-carousel__action-icon"></span>
                <span class="cmp-carousel__action-text">${'play' @ i18n}</span>
            </button>
        </div>
        <ol role="tablist" class="cmp-carousel__indicators" data-cmp-hook-carousel="indicators">
            <li data-sly-repeat.item="${carousel.items}"
                role="tab"
                class="cmp-carousel__indicator${itemList.first ? ' cmp-carousel__indicator--active' : ''}"
                data-cmp-hook-carousel="indicator">${item.title}</li>
        </ol>
    </div>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
         data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
</div>
