# Configuration created by Apache Sling JCR Installer
client_secret="sBsqTK8DdpfCwrPfGB2JzTUMq-HYm0-zo4cIYhVPxCVBGAENtmhI6FCE26f6xYMZGVk0Bx5Er9GDFDfXae8Klw"
accountAlias="DPSS"
client_id="5487abad-44ee-487e-9776-881bcb21ccc3"
defVideoPlayerID="default"
allowed_groups=["administrators"]
proxy=""
defPlaylistPlayerID="default"
ingest_profile=""
key="6270243587001"
asset_integration_path="/content/dam/brightcove_assets"
defPlaylistPlayerKey=""
playersstore="/content/brightcovetools/players"
defVideoPlayerKey=""
