# Configuration created by Apache Sling JCR Installer
clientId="\ fb85ec32-acff-49b4-b267-30f81b66296d"
tokenUrl="https://login.microsoftonline.com/07597248-ea38-451b-8abe-a638eddbac81/oauth2/v2.0/token"
refreshUrl="https://login.microsoftonline.com/07597248-ea38-451b-8abe-a638eddbac81/oauth2/v2.0/token"
authCodeRedirectUrl="https://author-dpsslacounty-dev.adobecqms.net/services/mailer/oauth2/token"
authUrl="https://login.microsoftonline.com/07597248-ea38-451b-8abe-a638eddbac81/oauth2/v2.0/authorize"
clientSecret="MK78Q~xcaBO1yGxemM-nLs~vkERviQshnIVEVaRk"
scopes=["openid","offline_access","https://outlook.office365.com/Mail.Send","https://outlook.office365.com/Mail.Read","https://outlook.office365.com/SMTP.Send"]
