# Configuration created by Apache Sling JCR Installer
cq.wcm.workflow.terminate.on.activate=B"true"
event.filter="(!(event.application\=*))"
cq.wcm.worklfow.terminate.exclusion.list=["/var/workflow/models/dpss_request_for_deletion","/var/workflow/models/dpss-epolicy-request-for-deletion"]
maxThreadPoolSize=I"10"
minThreadPoolSize=I"5"
