.cmp-form {
    .button {
        button[type=submit]{
            background-color: color(blue);
            transition: all .3s cubic-bezier(.25,.8,.25,1);
            &:hover{
                background-color: color(indigoblue);      
            }
        }
        button[type=button]{
            background-color: color(grey);
            color: color(black);
            transition: all .3s cubic-bezier(.25,.8,.25,1);
            &:hover{
                background-color: color(grey2);        
            }
        }
        .cmp-form-button {
            padding: 18px 90px; 
            border: 1px solid transparent;
            cursor: pointer;
            color: color(white);
            -webkit-box-shadow: 0px 3px 6px 0px rgba(255, 117, 117, 0.5);
            -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
            color: color(white);
            margin: 5px 0;
            &:active{
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transform: scale(0.985);
            }
        }
    }
}